.git
.github
.vscode
.idea
.DS_Store
Thumbs.db

.bun
**/.bun
.turbo
**/.turbo
coverage
**/coverage
dist
**/dist
node_modules
**/node_modules
tmp
**/tmp
temp
**/temp

*.log
*.tsbuildinfo

.env
.env.*
!.env.example

.config/opendom
